header {
    grid-area: header;
    background-color: yellow;


}

h1 {

    font-family: Arial, sans-serif;
    font-weight: bolder;
    letter-spacing: 0.25em;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 57px;
}

h2 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 0.15em;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 30px;

}

p {
    font-family: Arial;
    font-weight: 500;
    letter-spacing: .05em;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 18px;

}

nav {
    grid-area: nav;
    background-color: gray;
}
/* NAV MENU STYLES */


nav ul
	{ 
	padding-left: 0;
	margin-left: 0;
	list-style: none;
	}

nav a
	{
	text-decoration: none;
	color: #000000;
	}

nav a:visited
	{
	color: #000000;
	}		


nav a:hover
	{
	text-decoration: underline;
	color: #6699ff;
	}
	
nav ul li
	{
	font-weight: bold;
	}	

nav ul li a
	{
	font-weight: normal;
	}
	
/*  MENU EXPANDER */

.smallmenu
	{
	display: none;
	font-size: 1em;
	}

main {
    grid-area: main;
    background-color: orange;
}

aside {
    grid-area: aside;
    background-color: bisque;
}

footer {
    grid-area: footer;
    background-color: green;
}

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'nav nav main main main aside'
        'nav nav main main main aside'
        'nav nav footer footer footer footer';
    grid-gap: .5em;

}


ul li {
    list-style-type: none;
}


/*FIRST BREAK POINT === tablet */
@media only screen and (max-width : 900px) {
    body {
        background: blue;
    }

    .grid-container {
        display: grid;
        grid-template-areas:
            'nav nav nav nav nav nav'
            'header header header header header header'
            'main main main main aside aside'
            'footer footer footer footer footer footer';
        grid-gap: .5em;
        padding: .5em;
    }

    ul li {
        display: inline-block;
    }

}

/*SECOND BREAK POINT === mobile */
@media only screen and (max-width : 600px) {

    body {
        background: fuchsia;
    }

    .grid-container {
        display: grid;
        grid-template-areas:
            'nav nav nav nav nav nav'
            'header header header header header header'
            'main main main main main main'
            'aside aside aside aside aside aside'
            'footer footer footer footer footer footer';
        grid-gap: .5em;
        padding: .5em;
    }

    ul li {
        display: inline-block;
    }

    .smallmenu {
        display: block;
        text-align: right;
        padding-top: .5em;
        margin-right: 30px;
        border-top: 1px dotted #000000;
        font-family: Arial;
    }

    .smallmenu a {
        color: #000000;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        text-align: right;
    }

    nav.expander li {
        display: block;
        
    }

    .expander {
        display: none
    }

}