body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}

h1 {
    font-family: Arial, sans-serif;
    font-weight: bolder;
    letter-spacing: 0.2em;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 57px;
    text-align: center;
}

h2 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    letter-spacing: 0.1em;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 30px;

}

h3{
    font-family: Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 5px;
    padding-left: 0;
}
p {
    font-family: Arial;
    font-weight: 500;
    letter-spacing: .05em;
    font-size: 16px;

}

/*Header styles*/
header p{
    text-align: center;
}

/* NAV MENU STYLES */
nav ul { 
    display: flex;
	padding-left: 0;
	margin-left: 0;
	list-style: none;
    gap: 20px;
    justify-content: center;
	}

nav a
	{
	text-decoration: none;
	color: #ffffff;
	}

nav a:visited
	{
	color: #ffffff;
	}		


nav a:hover
	{
	text-decoration: underline;
	color: #6699ff;
	}
	
nav ul li {
    padding: 10px;
	font-weight: bold;
    }	

nav ul li a
	{
	font-weight: normal;
	}
/*main styles*/
.column-intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: 1440px;
    margin: 10px auto;
}

.short-intro {
    padding-top: 5px;
    padding-bottom: 30px;
    border-top: solid rgb(255, 255, 255) 1px;
    display: flex;
    width: 600px;
}

.square-img {
    object-fit: cover;
    object-position: center;
    height: 200px;
    width: 200px;
    padding-right: 30px;
    padding-top: 10px;
}
/*footer style*/
footer {
    background-color: beige;
}